body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.morpion-grid {
  display: grid;
  grid-template-columns: repeat(3, 100px); 
  grid-template-rows: repeat(3, 100px); 
  gap: 10px;
}

.cell {
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  border: 1px solid #333;
}

#resetButton{
  margin-left: 100px;
  margin-top: 25px;
}

.game-container{
  display: none;
}


.start{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 100vw;
  height: 600px;
  width: 400px;
  background-color: white;
  box-shadow: 6px 1px 5px 5px;
}


.btn{
  width: 250px;
  height: 35px;
  border-radius: 50px;
  margin-bottom: 25px;
  margin-left: 75px;

}

.btn1{
  margin-top: 50px;
}

.rules{
  display: none;
} 

p{
  margin-left: 50px;
  font-size: 20px
}

span{
  font-weight: bold
}